/*!
 * 
 */
/*!
 * 
 */
/*!
 * 
 */
/*
 *
 */
/* line 11, ../scss/Ext.ux.CalendarEvents.scss */
.ux-calendar div.event-bar {
  background-color: #7991b3;
  border: 1px solid #485e7e;
  color: white;
  font-size: 7px;
  font-weight: bold;
  height: 10px;
  overflow: hidden;
  padding: 0px 4px;
  position: absolute;
  -webkit-border-radius: 4px;
  z-index: 100;
}
/* line 25, ../scss/Ext.ux.CalendarEvents.scss */
.ux-calendar div.event-bar.event-bar-selected {
  background-color: #1a222d;
}
/* line 30, ../scss/Ext.ux.CalendarEvents.scss */
.ux-calendar div.event-bar.wrap-end {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}
/* line 36, ../scss/Ext.ux.CalendarEvents.scss */
.ux-calendar div.event-bar.wrap-start {
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}
/* line 45, ../scss/Ext.ux.CalendarEvents.scss */
.ux-calendar td.day.date-cell-hover {
  background-color: #dcdbdf;
  background-image: none;
}
