.touch-calendar-view
{

	td
	{
		position: relative;
	
		span.simple-event-wrapper, span.simple-event-wrapper-multi
		{
			position: absolute;
			overflow: hidden;
		}

		span.simple-event-multi
		{
			float: left;
			height: 4px;
			width: 4px;
			-webkit-border-radius: 4px;
			background-color: #3F4E5E;
			margin: 0 auto 0 2px;
		}

		span.simple-event
		{
			height: 6px;
			width: 6px;
			-webkit-border-radius: 6px;
			background-color: #3F4E5E;
			margin: 0 auto;
			display: block;
		}

		.selected span.simple-event, td.today span.simple-event
		{
			background-color: #FFF;
		}
	}
	
}