.touch-calendar-view
{
	$bg-color: #7991b3;
	$date-bg-color: #cfced3;

	div.event-bar
	{
		background-color: $bg-color;
		border: 1px solid darken($bg-color, 20%);
		color: lighten($bg-color, 80%);
		font-size: 7px;
		font-weight: bold;
		height: 15px;
		overflow: hidden;
		padding: 0px 4px;
		position: absolute;
		-webkit-border-radius: 4px;
		z-index: 100;
		letter-spacing: 0.2em;
        text-shadow: none;
	
		&.event-bar-selected
		{
			background-color: darken($bg-color, 45%);
		}
			
		&.wrap-end
		{
			-webkit-border-top-right-radius: 0;
			-webkit-border-bottom-right-radius: 0;
		}
		
		&.wrap-start
		{
			-webkit-border-top-left-radius: 0;
			-webkit-border-bottom-left-radius: 0;
		}
	}
	
	td
	{
		vertical-align: top;
		text-align: right;
  		font-size: 0.7em;
		
		&.day.date-cell-hover
		{
			background-color: lighten($date-bg-color, 5%);
			background-image: none;
		}
	}
}